body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.task-title1 {
  font-weight: 300;
}
.task-title2 {
  font-weight: 400;
}
.bg-aquamarine {
  background-color: #26a69a;
}

.border-btm {
  border: 0;
  border-bottom: 1px solid lightgray;
}
